#ph-view-chains {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    > .ph-container {

        position: absolute;

        .ph-category {

            position: absolute;
            /*border: 1px solid red;*/

            > .ph-container {

                position: absolute;

                .ph-chainHead {

                    position: absolute;
                    /*border: 1px solid blue;*/
                    background-position: center center;
                    background-repeat: no-repeat;
                    
                    .ph-roughDistance {
                    	position: absolute;
                    	bottom: 0px;
                    	left: 0px;
                    	right: 0px;
                    	text-align: center;
                    	font-size: $titleFontSize;
                    }
                }
            }                 
        }
    }
    
    .ph-loading {
    	text-align: center;
    	margin-top: 50%;
    	font-size: $titleFontSize;
    }       
}