@import "compass/css3/transition";

#ph-view-chains {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    > .ph-container {

        @include transition(top 0.5s ease-out);
        position: absolute;

        .ph-category {

            position: absolute;

            > .ph-container {

                position: absolute;

                .ph-chainHead {

                    position: absolute;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-color: $gray;
                    
                    .ph-roughDistance {
                    	position: absolute;
                    	bottom: 0px;
                    	left: 0px;
                    	right: 0px;
                    	text-align: center;
                    }
                }
            }                 
        }
    }      
}