#ph-view-countdown {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: $padding;
    padding-top: 40%;
    color: white;

    .ph-remaining {
        background: $gray;
        padding: 40px;
        font-size: 120px;
        text-align: center;
    }

}