#ph-view-create {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: $padding;
    padding-top: 40%;

    p {
        text-align: center;
        font-size: 30px;
        padding: 0;
        margin: $padding 0;
    }
}