#ph-view-create {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: $padding;
    padding-top: 10%;

    .ph-title {
        text-align: center;
        padding-bottom: 0px;
    }
    
    .ph-select-timelimit {
    	padding-top: 150px;
    }
}