#ph-view-location {

    width: 100%;
    padding: 20px;

    .ph-image {
        background-position: center center;
        background-repeat: no-repeat;
        height: 457px;
    }
    .ph-foundItButton {
        // TODO: Any different styling here..?
    }
    .ph-comments {
        ul {
            margin: 0;
            padding: 0;
        }
        li {

            margin: 0 0 10px 0;
            padding: 0 0 10px 0;
            list-style: none;
            border-style: dashed;
            border-color: green;
            border-width: 0 0 1px 0;
            font-size: 20px;

            &:last-child {
                border-style: none;
            }

            .ph-user {
                font-style: italic;
                margin-top: 5px;
            }
        }
    }
}