#ph-view-welcome {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding-top: 3%;
    padding-left: 8%;
    font-size: 40px;
    
    .ph-app-title {
    	padding-top: 20%;
    	padding-bottom: 150px;
    }
}