@import "compass/css3/box-sizing";

* {
    @include box-sizing(border-box);
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input, textarea {
    -webkit-user-select: initial !important;
}

body, html {
    background: black;
    color: white;
}

#ph-views {

    .ph-view {
        display: none;
    }
    .ph-current {
        display: block;
    }
}

.ph-button {

    background: green;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
    color: white;

    &.mbp-touching {
        /*background: red;*/
    }
}

.ph-button-negative {
	background: $red;
}

.ph-input {
    display: block;
    border: none;
    width: 100%;
    height: 100px;
    color: white;
    background: $gray;
    font-size: 20px;
    padding: 10px;
}