@import "compass/css3/transition";

$navButtonEdgeLength: 90px;

.ph-icon {
	display: block;
	left: 0 px;
	height: $navButtonEdgeLength; 
	width: $navButtonEdgeLength;
	background: transparent url('../img/newicons.png') 0 0;
}

.ph-icon-left {
	left: 90px;
	height: $navButtonEdgeLength; 
	width: $navButtonEdgeLength;
	background: transparent url('../img/newicons.png') -90px 0;
}

.ph-icon-create {
	left: 180px;
	height: $navButtonEdgeLength; 
	width: $navButtonEdgeLength;
	background: transparent url('../img/newicons.png') -180px 0;
}

.ph-icon-refresh {
	left: 270px;
	height: $navButtonEdgeLength; 
	width: $navButtonEdgeLength;
	background: transparent url('../img/newicons.png') -270px 0;
}

.ph-icon-settings {
	left: 360px;
	height: $navButtonEdgeLength; 
	width: $navButtonEdgeLength;
	background: transparent url('../img/newicons.png') -360px 0;
}

#ph-nav {
	
	z-index: 5;
	position: fixed;
	bottom: -20px;
	left: 0px;
	display: none;
	
	.ph-button {
		width: $navButtonEdgeLength;
		height: $navButtonEdgeLength;
		position: absolute;
		bottom: 0px;
		padding: 0;
		//background: transparent url('../img/icons.png') no-repeat;
	}
	
	#button-nav {
		left: 0px;
		background-color: green;
	}
		
	.ph-nav-button {
		background-color: $gray;
  		@include transition(left 0.5s ease-out);
	}
	
	#button-create, #button-refresh, #button-settings {
		left: 0px;
	}
	
	#button-create {
		background-position: -60px 0px;
	}
		
	#button-refresh {
		background-position: -130px 0px;
	}
		
	#button-settings {
		background-position: -200px 0px;
	}	
}

#ph-nav.open {
  
	#button-create {
		left: 76px;
	}
		
	#button-refresh {
		left: 152px;
	}
		
	#button-settings {
		left: 228px;
	}
}


