@import "compass/css3/transition";

$navButtonEdgeLength: 90px;
$navButtonHeight: 143px;
$navButtonWidth: 143px;

.ph-icon {
	display: block;
	height: $navButtonEdgeLength; 
	width: $navButtonEdgeLength;
	background-image:url('../img/newicons.png');
    background-repeat:no-repeat;
    background-position-y: 0px;
}

.ph-icon-right {
	margin-left: -20px;
	left: 70px;
	background-position-y: 20px;	
	background-position-x: 0;
}

.ph-icon-create {
	left: 180px;
	background-position-x: -180px;
}

.ph-icon-refresh {
	left: 270px;
	background-position-x: -270px;
}

.ph-icon-settings {
	left: 360px;
	background-position-x: -360px;
}

#ph-nav {
	
	z-index: 5;
	position: fixed;
	bottom: -20px;
	left: 0px;
	display: none;
	
	.ph-button {
		width: $navButtonWidth;
		height: $navButtonHeight;
		position: absolute;
		bottom: 0px;
		padding: 0;
	}
	
	#button-nav {
		width: 52px;
		left: 0px;
		background-color: green;
	}
		
	.ph-nav-button {
		background-color: $gray;
  		@include transition(left 0.33s ease-out);
	}
	
	#button-create, #button-refresh, #button-settings {
		padding: 20px;
		left: -$navButtonWidth;
	}
	
	#button-create {
		background-position: -60px 0px;
	}
		
	#button-refresh {
		background-position: -130px 0px;
	}
		
	#button-settings {
		background-position: -200px 0px;
	}	
}

#ph-nav.open {
  
	#button-create {
		left: 52px;
	}
		
	#button-refresh {
		left: 195px;
	}
		
	#button-settings {
		left: 338px;
	}
}


