* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  background: black;
  color: white;
}

#ph-views .ph-view {
  display: none;
}
#ph-views .ph-current {
  display: block;
}

#ph-view-chains {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#ph-view-location {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid green;
}
