* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, textarea {
  -webkit-user-select: initial !important;
}

body, html {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#ph-views .ph-view {
  display: none;
}
#ph-views .ph-current {
  display: block;
}

.ph-button {
  background: green;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
  color: white;
}
.ph-button.mbp-touching {
  background: #009a00;
}
.ph-button.ph-working {
  background: #004b00;
}
.ph-button.ph-disabled {
  background: #323232;
  color: #999999;
}
.ph-button.ph-negative {
  background: #dd0044;
}

.ph-input {
  display: block;
  border: none;
  width: 100%;
  height: 100px;
  color: white;
  background: #323232;
  font-size: 20px;
  padding: 10px;
}

.ph-text-disabled {
  color: #999999;
}

.ph-title {
  font-size: 40px;
  padding-bottom: 20px;
}

.ph-title-huge {
  font-size: 80px;
  padding-bottom: 20px;
}

.ph-title-gigant {
  font-size: 120px;
  padding-bottom: 20px;
}

.ph-sub-title {
  font-size: 25px;
  padding-bottom: 20px;
}

.ph-loading {
  text-align: center;
  margin-top: 70%;
}

.ph-icon {
  display: block;
  height: 90px;
  width: 90px;
  background-image: url("../img/newicons.png");
  background-repeat: no-repeat;
  background-position-y: 0px;
}

.ph-icon-right {
  margin-left: -20px;
  left: 70px;
  background-position-y: 20px;
  background-position-x: 0;
}

.ph-icon-create {
  left: 180px;
  background-position-x: -180px;
}

.ph-icon-refresh {
  left: 270px;
  background-position-x: -270px;
}

.ph-icon-settings {
  left: 360px;
  background-position-x: -360px;
}

#ph-nav {
  z-index: 5;
  position: fixed;
  bottom: -20px;
  left: 0px;
  display: none;
}
#ph-nav .ph-button {
  width: 143px;
  height: 143px;
  position: absolute;
  bottom: 0px;
  padding: 0;
}
#ph-nav #button-nav {
  width: 52px;
  left: 0px;
  background-color: green;
}
#ph-nav .ph-nav-button {
  background-color: #323232;
  -moz-transition: left 0.33s ease-out;
  -webkit-transition: left 0.33s ease-out;
  -o-transition: left 0.33s ease-out;
  transition: left 0.33s ease-out;
}
#ph-nav #button-create, #ph-nav #button-refresh, #ph-nav #button-settings {
  padding: 20px;
  left: -143px;
}
#ph-nav #button-create {
  background-position: -60px 0px;
}
#ph-nav #button-refresh {
  background-position: -130px 0px;
}
#ph-nav #button-settings {
  background-position: -200px 0px;
}

#ph-nav.open #button-create {
  left: 52px;
}
#ph-nav.open #button-refresh {
  left: 195px;
}
#ph-nav.open #button-settings {
  left: 338px;
}

#ph-view-welcome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding-top: 3%;
  padding-left: 8%;
  font-size: 40px;
}

#ph-view-chains {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#ph-view-chains > .ph-container {
  -moz-transition: top 0.33s ease-out;
  -webkit-transition: top 0.33s ease-out;
  -o-transition: top 0.33s ease-out;
  transition: top 0.33s ease-out;
  position: absolute;
}
#ph-view-chains > .ph-container .ph-category {
  position: absolute;
}
#ph-view-chains > .ph-container .ph-category > .ph-container {
  position: absolute;
}
#ph-view-chains > .ph-container .ph-category > .ph-container.ph-sliding {
  -moz-transition: left 0.33s ease-out;
  -webkit-transition: left 0.33s ease-out;
  -o-transition: left 0.33s ease-out;
  transition: left 0.33s ease-out;
}
#ph-view-chains > .ph-container .ph-category > .ph-container .ph-chainHead {
  position: absolute;
  top: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
}
#ph-view-chains > .ph-container .ph-category > .ph-container .ph-chainHead.ph-populated {
  background-color: #323232;
}
#ph-view-chains > .ph-container .ph-category > .ph-container .ph-chainHead .ph-roughDistance {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
}

#ph-view-location {
  width: 100%;
  padding: 20px;
}
#ph-view-location .ph-image {
  background-position: center center;
  background-repeat: no-repeat;
  height: 560px;
}
#ph-view-location .ph-comments {
  margin: 20px 0px;
}
#ph-view-location .ph-comments ul {
  margin: 0;
  padding: 0;
}
#ph-view-location .ph-comments li {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  list-style: none;
  border-style: solid;
  border-color: green;
  border-width: 0 0 1px 0;
  font-size: 20px;
}
#ph-view-location .ph-comments li:last-child {
  border-style: none;
}
#ph-view-location .ph-comments li .ph-user {
  font-style: italic;
  margin-top: 5px;
}

#ph-view-countdown {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 20px;
  padding-top: 40%;
  color: white;
}
#ph-view-countdown .ph-remaining {
  background: #323232;
  padding: 40px;
  text-align: center;
}

#ph-view-settings {
  width: 100%;
  padding: 20px;
}

#ph-view-create {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 20px;
  padding-top: 40%;
}
#ph-view-create .ph-title {
  text-align: center;
  padding-bottom: 0px;
}
