// This is the SCSS "main entry point" for PHunt.

$gray: #323232;
$red: #DD0044;
$titleFontSize: 40px;
$padding: 20px;

@import 'partials/common.scss';
@import 'partials/nav.scss';

@import 'views/welcome.scss';
@import 'views/chains.scss';
@import 'views/location.scss';
@import 'views/countdown.scss';
@import 'views/settings.scss';
@import 'views/create.scss';